<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <header>

  </header>

  <main>
    <div *ngIf="recipe">

      <h1>{{recipe.description | uppercase}}</h1>
      <div class="">

        <div class="">
          <ul class=" ">
            <li class="">id: {{recipe.id}}</li>
            <li class="">date: {{ moment(recipe.dateCreated).format('YYYY-MM-DD HH:mm:ss') }}</li>
          </ul>
        </div>

        <div class="">
          <h2>Change recipe:</h2>
          <input class=" " id="recipe-name" [(ngModel)]="recipe.description" placeholder="name">
          <button class=" " (click)="save()">save</button>
          <textarea class="create-text" rows="5" placeholder="Description"></textarea>
          <button class=" " (click)="goBack()">go back</button>
        </div>
      </div>

      <div class="">
        <h4>Fork: </h4>
        <form class="d-flex me-auto">
          <input class=" " placeholder="Description" id="new-recipe" #recipeName/>
          <button class=" " (click)="saveFork(recipeName.value, recipe.id)">add</button>
        </form>
      </div>

      <div class="">
        <div class="">
          <div class="">
            <h4>Parents</h4>
            <div class="">
              <table class="   ">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Recipe</th>
                </tr>
                </thead>
                <tbody>
                <tr class="" *ngFor="let recipe of recipesParents">
                  <td>{{ recipe.id }}</td>
                  <td>
                    <a href="#" class="" routerLink="/detail/{{recipe.id}}">
                      <span calss="badge"></span> {{recipe.description}}
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <button class=" " (click)="prevParentsPage()"
                      [disabled]="pageParents === 0">prev
              </button>
              <button class=" " (click)="nextParentsPage()"
                      [disabled]="recipesParents.length % count || recipesParents.length === 0">next
              </button>
            </div>
          </div>

          <div class="">
            <h4>Children</h4>
            <div class="">
              <table class=" ">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Recipe</th>
                </tr>
                </thead>
                <tbody>
                <tr class="" *ngFor="let recipe of recipesChildren">
                  <td>{{ recipe.id }}</td>
                  <td>
                    <a href="#" class="" routerLink="/detail/{{recipe.id}}">
                      <span calss="badge"></span> {{recipe.description}}
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <button class=" " (click)="prevChildrenPage()"
                      [disabled]="pageChildren === 0">prev
              </button>
              <button class=" " (click)="nextChildrenPage()"
                      [disabled]="recipesChildren.length % count || recipesChildren.length === 0">next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>



