<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header></header>

  <main class="container">
    <div class="change" *ngIf="recipe">
      <h1>{{recipe.title | uppercase}}</h1>

      <ul class="data-table">
        <li class="">id: {{recipe.id}}</li>
        <li class="">date: {{ moment(recipe.dateCreated).format('YYYY-MM-DD HH:mm:ss') }}</li>
      </ul>

      <h2>Change recipe:</h2>
      <div class="input-2">
        <input class="change-input" id="recipe-name" [(ngModel)]="recipe.title" placeholder="Title">
        <button class="change-save-button" type="button" (click)="save()">✔</button>
      </div>

      <textarea class="create-text" rows="5" [(ngModel)]="recipe.description" placeholder="Description"></textarea>
    </div>

    <div class="create-fork" *ngIf="recipe">
      <h2>Fork: </h2>
      <div class="input-2">
        <input class="change-input" placeholder="Title" id="new-recipe" #recipeName/>
        <button class="change-save-button" (click)="saveFork(recipeName.value, recipe.id, recipeDescription.value)">+</button>
      </div>
      <textarea class="create-text" rows="5" placeholder="Description" #recipeDescription></textarea>
    </div>

    <div class="info-1">
      <h1>Parents</h1>

      <table class="info-table">
        <thead>
        <tr class="info-table-tr">
          <th class="info-table-th info-table-th-left">#</th>
          <th class="info-table-th info-table-th-right">Recipe</th>
        </tr>
        </thead>
        <tr class="info-table-tr" *ngFor="let recipe of recipesParents">
          <td class="info-table-td info-table-td-small info-table-td-left">{{ recipe.id }}</td>
          <td class="info-table-td info-table-td-big info-table-td-right">
            <a class="info-table-link" href="#" routerLink="/detail/{{recipe.id}}">
              {{recipe.title}}
            </a>
          </td>
        </tr>
      </table>

      <button class="button button-left" (click)="prevParentsPage()"
              [disabled]="pageParents === 0">prev
      </button>
      <button class="button button-right" (click)="nextParentsPage()"
              [disabled]="recipesParents.length % count || recipesParents.length === 0">next
      </button>
    </div>


    <div class="info-1">
      <h1>Children</h1>

      <table class="info-table">
        <thead>
        <tr class="info-table-tr">
          <th class="info-table-th info-table-th-left">#</th>
          <th class="info-table-th info-table-th-right">Recipe</th>
        </tr>
        </thead>
        <tr class="info-table-tr" *ngFor="let recipe of recipesChildren">
          <td class="info-table-td info-table-td-small info-table-td-left">{{ recipe.id }}</td>
          <td class="info-table-td info-table-td-big info-table-td-right">
            <a class="info-table-link" href="#" routerLink="/detail/{{recipe.id}}">
              {{recipe.title}}
            </a>
          </td>
        </tr>
      </table>

      <button class="button button-left" (click)="prevChildrenPage()"
              [disabled]="pageChildren === 0">prev
      </button>
      <button class="button button-right" (click)="nextChildrenPage()"
              [disabled]="recipesChildren.length % count || recipesChildren.length === 0">next
      </button>
    </div>
  </main>

  <footer></footer>
</body>
</html>
