<div *ngIf="recipe">
  <h2>{{recipe.description | uppercase}}</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">id: {{recipe.id}}</li>
          <li class="list-group-item">date: {{ moment(recipe.dateCreated).format('YYYY-MM-DD HH:mm:ss') }}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <h4>Change recipe:</h4>
      <input class="form-control mr-2" id="recipe-name" [(ngModel)]="recipe.description" placeholder="name">
      <button class="btn-outline-secondary btn" (click)="goBack()">go back</button>
      <button class="btn-outline-success btn" (click)="save()">save</button>
    </div>
  </div>

  <div class="col-md-3">
    <h4>Fork: </h4>
    <form class="d-flex me-auto">
      <input class="form-control mr-2" placeholder="Description" id="new-recipe" #recipeName/>
      <button class="btn btn-outline-success" (click)="saveFork(recipeName.value, recipe.id)">add</button>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Parents</h4>
        <div class="table-container">
          <table class="table table-primary table-bordered custom-table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Recipe</th>
            </tr>
            </thead>
            <tbody>
            <tr class="custom-row" *ngFor="let recipe of recipesParents">
              <td>{{ recipe.id }}</td>
              <td>
                <a href="#" class="custom-link" routerLink="/detail/{{recipe.id}}">
                  <span calss="badge"></span> {{recipe.description}}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <button mat-button class="btn-info btn" (click)="prevParentsPage()"
                  [disabled]="pageParents === 0">prev
          </button>
          <button mat-button class="btn-info btn" (click)="nextParentsPage()"
                  [disabled]="recipesParents.length % count || recipesParents.length === 0">next
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <h4>Children</h4>
        <div class="table-container">
          <table class="table table-primary table-bordered custom-table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Recipe</th>
            </tr>
            </thead>
            <tbody>
            <tr class="custom-row" *ngFor="let recipe of recipesChildren">
              <td>{{ recipe.id }}</td>
              <td>
                <a href="#" class="custom-link" routerLink="/detail/{{recipe.id}}">
                  <span calss="badge"></span> {{recipe.description}}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <button mat-button class="btn-info btn" (click)="prevChildrenPage()"
                  [disabled]="pageChildren === 0">prev
          </button>
          <button mat-button class="btn-info btn" (click)="nextChildrenPage()"
                  [disabled]="recipesChildren.length % count || recipesChildren.length === 0">next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
