* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.create {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.create-input {
  font-family: inherit;
  width: 250px;
  height: 40px;
  font-weight: 400;
  left: 15px;
  border-radius: 25px;
  border: 1px solid #e1e7ed;
  text-indent: 15px;
  margin-right: 10px;
}

.button:hover,
.create-input:hover,
.create-text:hover,
.create-button-add:hover {
  box-shadow: 0 0 8px rgba(120, 165, 231, 1);
}

.create-text:focus,
.create-input:focus {
  box-shadow: 0 0 8px lightgreen;
  background: linear-gradient(180deg, #fff, #f6f6f7);
  outline: none;
  font-weight: 600;
}

.create-text::placeholder,
.create-input::placeholder {
  font-weight: 500;
  font-family: inherit;
}

.create-button-add {
  height: 39px;
  width: 39px;
  outline: none;
  border: 1px solid #e1e7ed;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}

.create-button-add:active {
  box-shadow: 0 0 8px lightgreen;
}

.create-text {
  margin-top: 10px;
  display: block;
  text-indent: 15px;
  outline: none;
  border: 1px solid #e1e7ed;
  border-radius: 16px;
  width: 300px;
}

.info {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table-tr {
  height: 40px;
}

.info-table-tr:hover {
  background-color: rgba(194, 194, 194, .5);
}

.info-table-th {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  text-align: left;
  background-color: white;
  color: #777;
}

.info-table-td-left,
.info-table-th-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.info-table-td-right,
.info-table-th-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.info-table-td-right {
  text-align: right;
}

.info-table-th,
.info-table-td {
  padding: 0 10px;
}

.info-table-td-small {
  min-width: 50px;
}

.info-table-td-big {
  min-width: 230px;
}

.delete-button {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  font-size: 10px;
  outline: none;
  border: 1px solid #e1e7ed;
}

.delete-button:hover {
  box-shadow: 0 0 8px red;
}

.info-table-link {
  color: rgba(120, 165, 231, 1);
  text-decoration: none;
}

.info-table-link:hover {
  text-decoration: underline;
}

.button {
  height: 40px;
  outline: none;
  border: 1px solid #e1e7ed;
  text-align: center;
  padding: 0 10px;

}

.button-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.button-right{
  float: right;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button:disabled {
  color: #f2f2f2;
  pointer-events: none;
}
