<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header></header>

  <main class="container">
    <div class="create">
      <h1>Create new recipe</h1>
      <input class="create-input" placeholder="Title" #recipeName/>
      <button class="create-button-add" type="submit"
              (click)="add(recipeName.value, recipeDescription.value); recipeName.value=''">
        +
      </button>
      <textarea class="create-text" rows="5" placeholder="Description" #recipeDescription></textarea>
    </div>

    <div class="info">
      <h1>All Recipes</h1>

      <table class="info-table">
        <thead>
        <tr class="info-table-tr">
          <th class="info-table-th info-table-th-left">#</th>
          <th class="info-table-th">Title</th>
          <th class="info-table-th info-table-th-right">Delete</th>
        </tr>
        </thead>
        <tr class="info-table-tr" *ngFor="let recipe of recipes">
          <td class="info-table-td info-table-td-small info-table-td-left">{{ recipe.id }}</td>
          <td class="info-table-td info-table-td-big">
            <a class="info-table-link" href="#" routerLink="/detail/{{recipe.id}}">
              {{recipe.title}}
            </a>
          </td>
          <td class="info-table-td info-table-td-small info-table-td-right">
            <button class="delete-button" type="button" title="delete recipe"
                    (click)="delete(recipe)">✖
            </button>
          </td>
        </tr>
      </table>

      <button class="button button-left" (click)="prevPage()"
              [disabled]="page === 0">prev
      </button>
      <button class="button button-right" (click)="nextPage()"
              [disabled]="recipes.length % count || recipes.length === 0">next
      </button>
    </div>
  </main>

  <footer></footer>
</body>
</html>
